.dataContainer{
  text-align: left;
  width: 30%;
  margin-right: 5%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.dataHeader{
  width: 100%;
  font-size: 36px;
  font-family: Commissioner-semiBold;
}
.dataDate{
  width: 100%;
  font-size: 18px;
  margin: 20px 0 20px;
  font-family: Commissioner-regular;
}
.dataExplanation{
  width: 100%;
  font-size: 18px;
  font-family: Commissioner-regular;
}
.dataCopyright{
  width: 100%;
  font-size: 18px;
  font-family: Commissioner-regular;
  position: absolute;
  bottom: -13%;
  left: 0;
  color: #C8C2C2;
}