.hero{
    width: 40%;
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.heroTitle{
  font-family: Commissioner-regular;
  font-size: 48px;
  text-align: center;
}
.heroText{
  font-family: Commissioner-regular;
  font-size: 24px;
  text-align: center;
}
.buttonContainer{
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.heroButtons{
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heroButton{
  height: 64px;
  width: 50%;
  border: none;
  background-color: #0B3D91;
  color: white;
  font-family: Commissioner-regular;
  font-size: 24px;
  border-radius: 16px;
  cursor: pointer;
}
.heroArchive{
  height: 64px;
  width: 30%;
  font-family: Commissioner-regular;
  font-size: 18px;
  color: #0B3D91;
  border: none;
  background-color: transparent;
}
@media screen and (max-width: 1310px){
  .hero{
    width: 50%;
  }
}
@media screen and (max-width: 1024px){
  .hero{
    width: 80%;
  }
  .heroButton{
    width: 50%;
  } 
}
@media screen and (max-width: 828px){
  .heroTitle{
    font-size: 36px;
  }
  .heroText{
    font-size: 18px;
  }
  .heroButton{
    width: 70%;
  }
}
@media screen and (max-width: 660px){
  .hero{
    height: 70%;
    width: 90%;
  }
  .heroButton{
    width: 80%;
  }
}
@media screen and (max-width: 460px){
  .heroButton{
    width: 95%;
  }
  .hero{
    margin-top: 20px;
  }
}
@media screen and (max-width: 360px){
  .heroTitle{
    font-size: 24px;
  }
  .heroText{
    font-size: 14px;
  }
}




  