.logoContainer{
  width: 116px;
  height: auto;
  position: absolute;
  top: 20px;
  left:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logo{
  width: 116px;
  height: auto;
  position: relative;
}
.logoLabel{
  font-size: 14px;
  font-family: Commissioner-semiBold;
  width: 116px;
  text-align: center;
}
@media screen and (max-width: 1024px){
  .logoContainer{
    top: 20px;
    left: 50%;
    margin-left: -58px;
  }
}
  
@media screen and (max-width: 660px){
  .logo{
    width: 66px;
  }
  .logoContainer{
    top: 15px;
    align-items: left;
  }
}
