*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
@font-face{
  src: url('../assets/fonts/Commissioner/static/Commissioner-Regular.ttf');
  font-family: Commissioner-regular;
}
@font-face{
  src: url('../assets/fonts/Commissioner/static/Commissioner-SemiBold.ttf');
  font-family: Commissioner-semiBold;
}
body{
  overflow-x: hidden;
}
.App{
  position: relative;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  flex-direction: column;
  overflow-y: hidden;
}
.home, .photoView{
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
.home{
z-index: 1;
}
.logo{
  width: 116px;
  height: auto;
  position: absolute;
  top: 20px;
  left:20px;
}
.arrow{
  position: absolute;
  top: 50px;
  left: 50px;
}
.blobLeft, .blobRight{
  position: absolute;
  z-index: 1;
}
.blobRight{
  height: auto;
  width: 390px;
  top:0%;
  right: 0%;  
}
.blobLeft{
  width: 680px;
  height: auto;
  bottom: 0%;
  left: 0%;
}
.hero{
  width: 40%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.heroTitle{
  font-family: Commissioner-regular;
  font-size: 48px;
  text-align: center;
}
.heroText{
  font-family: Commissioner-regular;
  font-size: 24px;
  text-align: center;
}
.heroButtons{
 width: 80%;
 height: 40%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.heroButton{
  height: 64px;
  width: 50%;
  border: none;
  background-color: #0B3D91;
  color: white;
  font-family: Commissioner-regular;
  font-size: 24px;
  border-radius: 16px;
  cursor: pointer;
}
.heroArchive{
  height: 64px;
  width: 30%;
  font-family: Commissioner-regular;
  font-size: 18px;
  color: #0B3D91;
  border: none;
  background-color: transparent;
}
.dataWrapper{
  width: 95%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.dataImage{
  height: 100%;
  width: auto;
}
.dataContainer{
  text-align: left;
  width: 30%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.dataHeader{
  width: 100%;
  font-size: 36px;
  font-family: Commissioner-semiBold;
}
.dataDate{
  width: 100%;
  font-size: 18px;
  margin: 20px 0 20px;
  font-family: Commissioner-regular;
}
.dataExplanation{
  width: 100%;
  font-size: 18px;
  font-family: Commissioner-regular;
}
.dataCopyright{
  width: 100%;
  font-size: 18px;
  font-family: Commissioner-regular;
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: #C8C2C2;
}
[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
@supports (--custom:property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    content: "";
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
  }  
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }  
}
@media screen and (max-width: 1310px){
  .blobRight{
    height: auto;
    width: 240px;
    top:0%;
    right: 0%;  
  }
  .blobLeft{
    width: 530px;
    height: auto;
    bottom: 0%;
    left: 0%;
  }
  .hero{
    width: 50%;
  }
}
@media screen and (max-width: 1024px){
  .blobRight, .blobLeft{
    display: none; 
  }
  .hero{
    width: 80%;
  }
  .logo{
    top: 20px;
    left: 50%;
    margin-left: -58px;
  }
}
@media screen and (max-width: 828px){
  .heroTitle{
    font-size: 36px;
  }
  .heroText{
    font-size: 18px;
  }
}
@media screen and (max-width: 660px){
  .logo{
    width: 66px;
    top: 15px;
    margin-left: -33px ;
  }
  .hero{
    height: 70%;
    width: 90%;
  }
  .heroButton{
    width: 60%;
  }

}
@media screen and (max-width: 460px){
  .heroButton{
    width: 95%;
  }
  .hero{
    margin-top: 20px;
  }
}
@media screen and (max-width: 360px){
  .heroTitle{
    font-size: 24px;
  }
  .heroText{
    font-size: 14px;
  }
}