*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
}
@font-face{
  src: url('../assets/fonts/Commissioner/static/Commissioner-Regular.ttf');
  font-family: Commissioner-regular;
}
@font-face{
  src: url('../assets/fonts/Commissioner/static/Commissioner-SemiBold.ttf');
  font-family: Commissioner-semiBold;
}
body{
  overflow-x: hidden;
}
.App{
  position: relative;
  z-index: 0;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  flex-direction: column;
  overflow-y: hidden;
}
.home, .photoView, .archive{
  position: relative;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
.home{
z-index: 1;
}
.dataWrapper{
  width: 95%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.dataImage{
  height: 80%;
  width: auto;
}
.pictureContainer{
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width:1600px){
  .dataImage{
    height: 70%;
    width: auto;
  }
}
@media screen and (max-width:1350px){
  .dataImage{
    height: 100%;
    width: auto;
  }
  .pictureContainer{
    width: 60%;
    height: 60%;
    margin-bottom: 2%;
  }
  .dataWrapper{
    width: 95%;
    height: 60%;
    flex-direction: column;
  }
}
@media screen and (max-width:1150px){
  .dataImage{
    height: 100%;
    width: auto;
  }
  .pictureContainer{
    width: 60%;
    height: 60%;
    margin-bottom: 2%;
  }
  .dataWrapper{
    width: 95%;
    height: 50%;
    flex-direction: column;
  }
}
@media screen and (max-width:500px){
  .dataWrapper{
    width: 95%;
    height: 60%;
    flex-direction: column;
  }
}