.blobRight{
  position: absolute;
  z-index: 1;
  height: 627px;
  width: 390px;
  width: 420px;
  top:0%;
  right: 0%;  
}
@media screen and (max-width: 1310px){
  .blobRight{
    height: auto;
    width: 240px;
    top:0%;
    right: 0%;  
  }
}
@media screen and (max-width: 1024px){
  .blobRight{
    display: none; 
  }
}
@media screen and (max-height: 826px){
  .blobRight{
    height: auto;
    width: 290px;
    top:0%;
    right: 0%;  
  }
}
